*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#principal{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("img/imagen4.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#principal .contenedor header{
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#principal .contenedor header .contenido{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#principal .contenedor header .contenido img {
    width: 60px;
    text-align: center;
    align-items: center;
    
}

#principal .contenedor header .contenido nav ul{
   list-style: none;
   display: flex;
   align-items: center;
}

#principal .contenedor header .contenido nav ul li a{
   text-decoration: none;
   color: white;
   margin: 0 12px;
   border: 1px solid white;
   padding: 5px 20px;
   border-radius: 10px;
}

#principal .contenedor header .contenido nav ul a:hover{
    color: black;
    background-color: #00FA9A;
}

#principal .contenedor header .contenido #sociales a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    transition:0.6s;
}

#principal .contenedor header .contenido #sociales a:hover{
    color: #00FA9A;
    font-size: 25px;
}

#principal .contenedor .cuerpo{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#principal .contenedor .cuerpo .bienvenida{
    font-size: 1em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#principal .contenedor .cuerpo h2{
    font-size: 50px;
    margin-bottom: 25px;
    align-items: center;
}

#principal .contenedor .cuerpo h2 span{
    font-size: 25px;
    color: #00FA9A;
}

#principal .contenedor .cuerpo .descripcion{
    max-width: 650px;
    margin: 25px;
    font-size: 20px;
    text-align: center;
}

#principal .contenedor .cuerpo a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 10px 25px;
    border: 2px solid whitesmoke;
    border-radius: 1em;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;     
}


#principal .contenedor .cuerpo a:hover{
    background-color: #00FA9A;
}

#icono{
    color: #fff;
    display: none;
}

#acerca-de-mi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    display: flex;
}

#acerca-de-mi .segundo-foto{
    max-width: 400px;
    margin-right: 8px;
}

#acerca-de-mi .segundo-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#acerca-de-mi .sobremi{
    margin: 0 40px;

}
#acerca-de-mi .sobremi .titulo{
    font-size: 20px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#acerca-de-mi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 4px;
}

#acerca-de-mi .sobremi h2 span{
    color: #00FA9A;
}

#acerca-de-mi .sobremi h3{
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2.5px;
}

#acerca-de-mi .sobremi p{
    font-size: 14px;
    line-height: 20px;
    color: #565656;
    margin-bottom: 12px;
    text-align: justify;
}

#skill{
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3; 
} 

#skill .title{
    font-size: 20px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#skill .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#skill .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: 0.5s;
}

#skill .fila .servicio:hover{
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;

}

#skill .fila .servicio h4{
    font-size: 20px;
    margin-bottom: 25px;
}

#skill .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    border-radius: 50px;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#skill .fila .servicio hr{
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#skill .fila .servicio ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#skill .fila .servicio p{
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

.habilidades{
    background: linear-gradient(#00FA9A, rgba(33,16,16,.8));
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.habilidades h3{
    color: white;
}

.habilidades .skills{
    max-width: 600px;
    margin: 30px auto;
}

.habilidades .skills .info{
    display: flex;
    justify-content: space-between;
}

.habilidades .skills .lista{
    display: inline-block;
    margin-right: 30px;
    color: white;
}
.habilidades .skills .porce{
    color: white;
}

.habilidades .skills .barra{
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

.habilidades .skills .barra .barra-progreso1{
    background-color: #fff;
    width: 50%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.habilidades .skills .barra .barra-progreso2{
    background-color: #fff;
    width: 30%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.habilidades .skills .barra .barra-progreso3{
    background-color: #fff;
    width: 50%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.habilidades .skills .barra .barra-progreso4{
    background-color: #fff;
    width: 50%;
    height: 6px;
    animation: progreso4 2s forwards;
}

.habilidades .skills .barra .barra-progreso5{
    background-color: #fff;
    width: 20%;
    height: 6px;
    animation: progreso5 2s forwards;
}

@keyframes progreso1 {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes progreso2 {
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}
@keyframes progreso3 {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes progreso4 {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes progreso5 {
    0%{
        width: 0;
    }
    100%{
        width: 20%;
    }
}

.final{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    height: 80px;
    justify-content: center;
    text-align: center;
}

.final .final-soci a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    margin-top: 1px;
    transition:0.6s;
    font-size: 40px;
  
}

.final .final-soci a:hover{
    color: #00FA9A;
    font-size: 30px;
}

.final .final-soci p{
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}







